version: "3.9"

services:
  yolov8:
    build:
      context: .
      dockerfile: Dockerfile
    image: custom-ultralytics:humble-cpu
    container_name: yolov8-cpu

    # privileged: true # カメラ等のデバイスアクセスに必要
    network_mode: host
    ipc: host
    tty: true
    stdin_open: true

    # ここから開始したい
    working_dir: "/home/${HOST_USER}/yolov8"

    environment:
      - TZ=Asia/Tokyo
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
      # ユーザー同期
      - HOST_USER=${HOST_USER}
      - USER_ID=${USER_ID}
      - GROUP_ID=${GROUP_ID}

    volumes:
      - /home/matsunaga-h/v8_yolo:/home/matsunaga-h/yolov8:rw
      - /dev/shm:/dev/shm
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - $XAUTHORITY:$XAUTHORITY
      - /dev:/dev # カメラ等デバイスアクセスに必要
      - ./:/workspace:rw

    entrypoint: ["/ros_entrypoint.sh"]
    command: ["bash"]